body{
	font-family:arial;
}	
img{
	border: 0;	
}
h1{
	color: #FFF;	
}
#map{
	position: absolute; 
	width:100%; 
	height: 100%;	
}
#topBar{
	position: absolute; 
	width:100%; 
	height: 60px;
	background: #CC0001;
}
.icon_brandweer, .icon_settings
{
	position:relative;
	float:left;
	padding: 5px;
	width: 50px;
	height: 50px;
	text-align:center;
}
.refresh, .track, .track2{
	position:relative;
	float:left;
	padding: 5px;
	width: calc(50% - 10px);
	height: 70px;
	text-align:center;
}
.track2{
	display:none;	
}
#bottomBar{
	position: fixed;
	width:100%; 
	height: 70px;  
	background: #0a3599;  
	bottom: 0px; 
	left:0px;	
}
#bottomBar p
{
	color: #FFF;
	font-size: 10px;
	text-transform: uppercase;
	margin: 5px 0px 0px 0px; padding: 0;
}
.icon_brandweer img{
	width:100%;
	height:auto;	
}
.refresh img, .track2 img, .track img{
	width:auto;
	height: 40px;	
}
.icon_settings img{
	margin-top:13px;
	width:50%;
	height:auto;	
}
.lastReport{
	position: relative; 
	text-align: center; 
	font-family: 'Arial'; 
	background: #cc0001; 
	width: calc(100% - 130px); 
	padding: 5px; 
	height: 50px; 
	line-height: 14px; 
	color: #FFF; 
	font-size: 12px;	
	float:left;
}
#popupSettings{
	position:absolute;
	padding:20px;
	height: calc(100% - 40px);
	width:calc(100% - 40px);
	background: #CC0001;	
	display:none;
	color: #FFF;
	overflow: scroll;
}
label{
	line-height: 30px;
	cursor:pointer;	
}
input{
	margin-right:20px;	
}
.cb
{
	width: calc(100% - 50px);
	height: 30px;
	margin-bottom: 1px;
	padding-left: 50px;
	padding-top: 10px;
}
.cb:before
{
	content: ' ';
	position: absolute;
	left:  20px;
	width: 40px;
	height: 40px;
	margin-top: -10px;
	background-image:url('images/icons/icon_checkbox.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.cbClick:before
{
	content: ' ';
	position: absolute;
	left:  20px;
	width: 40px;
	height: 40px;
	background-image:url('images/icons/icon_checkbox.jpg');
	background-position: -40px 0px;
	background-repeat: no-repeat;
}
.cbOfflineMaps
{
	display: none;	
}
input[type="checkbox"] + label span
{
    display:inline-block;
    width:40px;
    height:40px;
	padding-top: 12px;
    margin:10px 5px 0px 0px;
	clear: both;
    vertical-align:middle;
    background-image:url('images/icons/icon_checkbox.jpg');
	background-position: 0px 0px;
	background-repeat: no-repeat;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span
{
    background-position: -40px 0px ;
}
.saveSettings{
	display:block;
	padding:10px;
	border: 1px solid #FFF;	
	width: 200px;
	text-align:center;
}
.downloadMaps{
	display:none;
	padding:10px;
	border: 1px solid #FFF;	
	width: 200px;
	text-align:center;
}
